.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-div {
    margin:auto;
    text-align: center;
}
/* hr {
    border:none;
    height: 2px;
    color: #000;
    background-color: #000;
} */
.hidden {
    display: none;
}
